*~
*.o
*.d.*
*.so
*.d
*.t
greyd
greydb
greyd-setup
greylogd
*.tar.gz
*.scan
*.log
configure
autom4te.cache*
*.swp
Makefile
config.guess
config.status
config.sub
etc/greyd.conf
install-sh
src/Makefile
src/config.h
src/config.h.in
src/modules/Makefile
tests/Makefile
tests/data/config_lexer_test1.conf
tests/data/config_test1.conf
tests/data/config_test2.conf
tests/data/config_test3.conf
tests/data/lexer_source_1.conf
tests/data/lexer_source_2.conf.gz
tests/run_tests.pl
