*~
src/.dirstamp
*.o
*.d.*
*.so
*.d
*.t
greyd
greydb
greyd-setup
greylogd
*.tar.gz
*.scan
*.log
autom4te.cache*
*.swp
Makefile
Makefile.in
config.guess
config.status
config.sub
etc/greyd.conf
install-sh
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
drivers/Makefile
drivers/Makefile.in
check/Makefile
check/Makefile.in
check/data/config_lexer_test1.conf
check/data/config_test1.conf
check/data/permitted_domains.txt
check/data/config_test2.conf
check/data/config_test3.conf
check/data/lexer_source_1.conf
check/data/lexer_source_2.conf.gz
check/run_tests.pl
check/.deps/*
check/test_*
!check/test_*.c
m4/*.m4
tap-driver.pl
test-driver
src/.deps/*
aclocal.m4
missing
depcomp
src/stamp-h1
.deps/*
*.lo
compile
libtool
ltmain.sh
drivers/.deps/*
drivers/.libs/*
drivers/*.la
